.nov-top-navbar {
        //---------------------------------------------------
    //LAYOUTS NAVIGATION -------------------------------
    //---------------------------------------------------
    $shadow-faortext : 3px 3px 16px #272634;
    $shadow-navbar :0 0 10px 0 rgba(0,0,0,.8);

    /**
    .navbar {
        position: fixed; 
        box-shadow: $shadwow-navbar;
        border: none;
        margin-bottom : 0px;
        width: 100%;
        @media (min-width: 1200px) {
            .container {  
                width: 1920px;
                padding: 0 50px 0 50px;
            }
        }
    .navbar {
        position: fixed; 
        box-shadow: $shadwow-navbar;
        border: none;
        margin-bottom : 0px;
        width: 100%; 
        padding: 0 50px 0 50px; 
    } 

    } **/
    .navbar {
        
        box-shadow: $shadow-navbar;
        border: none;
        height: 60px;
        margin-bottom : 0px;
        width: 100%;
        @media (min-width: 1200px) {
            .container {  
                width: 100%;
                padding: 0 50px 0 50px;
            }
        }
        & button{
            font-size: 32px;
            border: none;
            background: none;
            margin-left: 5px;
            text-shadow: $shadow-faortext;
            margin-top: 15px;
            color: whitesmoke;
            width: auto;
            height: auto;
            
        }
    }
    .navbar-default {
        background-color: #4e9791;
        border-color: whitesmoke;
        .navbar-brand {
            color: whitesmoke;
            text-shadow: $shadow-faortext;
            padding-left: 40px;
            padding-top: 20px;
            &:hover {
                color: rgb(214, 214, 214);
            }
            font-size: 36px;
        }
    }
    .nov-navbar-right {
        margin-top: -60px;

        .dropdown {
            background-color: #4e9791;
            height: 60px;
            &:hover {
            //   background-color: #c5e4e1;
            font-weight: bold;
            }
            .dropdown-menu {
                background-color: #c5e4e1;
            }

        }   
        & > li {
            float: right;
            padding: 0px;
            width: 150px;
            text-align: center;
            & > a {
                color: whitesmoke;
                text-decoration: none;
                height: 60px;
                padding: 20px 15px 0px 15px;
                
                &:hover {
                    color: rebeccapurple;
                    font-weight: bold;
                    background-color: #c5e4e1;
    
                }
            }

        }
        & > .open {
            & > a {
                &:focus {
                    background-color: #c5e4e1;
                    height: 60px;
                }
            }
            
        }
        

    }

}
