@mixin transitionAll(){
    transition: all .3s ease-out;
}
$nov-shadow-main : 10px 5px 25px rgba(0, 0, 0, 0.5);
$nov-footer : rgb(131, 131, 131);



//---------------------------------------------------
//PAGE WELCOME --------------------------------------
//---------------------------------------------------
.page-welcome {
    margin: 0;
    padding: 0;
    background: #222;
}
ul {
  margin: 0;
  padding: 0;
	list-style: none;
}
/* contents */
.contents {

    display: table;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: url('../images/bg_welcome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 0 50px 0 rgba(0,0,0,.8);
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    .contents_inner {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        .imgbg {
            width: 20%;
            -webkit-filter: drop-shadow(5px 5px 15px #222);
            filter:         drop-shadow(5px 5px 15px #222);
        }
        h1, p{
            color: whitesmoke;
            text-shadow: 5px 0px 5px #000;
            font-family: 'Raleway', sans-serif;
        }
    }
}
/* drawer menu */
.drawer-menu, .drawer-menu2 {
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 5px 0px 55px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 5px 0px 55px inset;
    box-shadow: rgba(0, 0, 0, 0.8) 5px 0px 55px inset;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    padding: 120px 0;
    background: #222;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
   // -webkit-transition-delay: 0s;
  //  transition-delay: 0s;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    opacity: 0;
    z-index: -3;
    .panel-body {
        text-align: center;

        &>h1{
            text-align: center;
            color: whitesmoke;
            text-shadow:  2px 2px 4px #000000;
        }
        &>.imgbg {
            width: 30%;
            -webkit-filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.8));
            filter:         drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.8));
        }
    }
    li {
        text-align: center;
        a {
            display: block;
            height: 50px;
            line-height: 50px;
            font-size: 14px;
            color: #fff;
            -webkit-transition: all .8s;
            transition: all .8s;
            &:hover {
                color: #1a1e24;
                background: #fff;
            }
        }
    }

}

/* checkbox */
.check, .check2 {
    display: none;
}

/* menu button - label tag */
.btn-dpn {
    text-shadow: 0px 0px 15px #222;
    text-align: center;
    cursor: pointer;
    z-index: 1;
    position: fixed;
    display: block;
    top: 40px;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    &.menu-btn {
        right: 120px;
    }
    &.menu-btn2 {
        right: 300px;
    }

}

.close-menu, .close-menu2 {
    position: fixed;
    top: 0;
    right: 450px;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0);
    cursor: url(http://theorthodoxworks.com/demo/images/cross.svg),auto;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    visibility: hidden;
    opacity: 0;
}

/* checked */
.check:checked {
    & ~ .drawer-menu {
        -webkit-transition-delay: .5s;
        transition-delay: .5s;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        opacity: 1;
        z-index: 2;
    }
    & ~ .contents {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transform: translateX(-450px);
        -ms-transform: translateX(-450px);
        transform: translateX(-450px);
    }
    & ~ .menu-btn {
        visibility: hidden;
        opacity: 0;
    }
    & ~ .menu-btn2{
        visibility: hidden;
        opacity: 0;
    }
    & ~ .close-menu {
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-delay: 1s;
        transition-delay: 1s;
        background: rgba(0,0,0,.5);
        visibility: visible;
        opacity: 1;
        z-index: 5;
    }
}
.check2:checked {
    & ~ .drawer-menu2 {
        -webkit-transition-delay: .5s;
        transition-delay: .5s;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        opacity: 1;
        z-index: 2;
    }
    & ~ .contents {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        -webkit-transform: translateX(-450px);
        -ms-transform: translateX(-450px);
        transform: translateX(-450px);
    }
    & ~ .menu-btn{
        visibility: hidden;
        opacity: 0;
    }
    & ~ .menu-btn2{
        visibility: hidden;
        opacity: 0;
    }
    & ~ .close-menu2 {
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-delay: 1s;
        transition-delay: 1s;
        background: rgba(0,0,0,.5);
        visibility: visible;
        opacity: 1;
        z-index: 5;
    }

}

//---------------------------------------------------
//END OF PAGE WELCOME -------------------------------
//---------------------------------------------------

//---------------------------------------------------
//SIDEBAR -------------------------------------------
//---------------------------------------------------

.nov-sidebar{
    background-color: $nov-cinepilot-main-green;
  //  padding: 10px;
  //  box-shadow: 200px 0px 0px rgba(0, 0, 0, 0.2);
    flex: 1.5;
    float: left;
    overflow:hidden;
    color: white;
    @include transitionAll();
    &.is-collapsed {
     
        transform: translateX(-300px);
        flex :0;
    }

   // & .nov-sb-dropdown-container {
   //     display: none;
   //     color: white;
   //     & .nov-main-line {
   //         border-top: 1px solid #8c8b8b;
   //     }
   // }
    & .nov-sidebar-container {
        & .nov-sidebar-list {
 
            & .nov-sidebar-profile {
                border-bottom: 3px solid whitesmoke;
                padding-bottom: 10px;
            }
            & .nov-sidebar-menu {
                //background-color: red;

                border-bottom: 0.5px solid whitesmoke;
                & a {
                    display: block;
                    padding: 10px 10px;
                    text-decoration: none;
                    color: white;
                    font-size: 12pt;
                    &:hover {
                        color:grey;
                        background-color: $nov-cinepilot-hover-green;
                    }
                    & span {
                        padding-left:30px;
                    }
                    & .fa {
                        
                        font-size: 18pt;
                    } 
                    & .fa-caret-left {
                        float: right;
                        padding: 8px 10px;
                        font-size: 14pt;
                    }

                }
                &>ul {
                    &>li {
                        border: none;
                        background-color: $nov-cinepilot-submenu-green;
                        & i {
                            padding-left: 40px;

                        }
                        & .fa {
                            font-size: 18px;
                        }
                        
                    }
                }
            }
        }
   }
    .nov-active {
       // background-color: $nov-cinepilot-active-green;
   
        box-shadow: inset 0px 0px 20px rgba(43, 43, 43, 0.5);
        
    }
}
.sidebar-profile-container {
   // background-color: green;
    & .sidebar-profile-photo {
     //   background-color: rgba(255, 0, 0, 0.2);
        height: auto;
        text-align: center;
        padding: 10px 0px;
        & img {
            border: 3px solid grey;
            border-radius:50%; 
            width: 200px;
            box-shadow: $nov-shadow-main;
        }
    }
    & .sidebar-profile {
        &-name {
            text-align: center;
            font-weight: bolder;
            font-size: 18pt;
            margin: 0;
            text-shadow: $nov-shadow-main;
        }
        &-email {
            text-align: center;
            text-shadow: $nov-shadow-main;
        }
    }
}

//+++++++++++++++++++++++++++++++++++++++++++++++++++
//END OF SIDEBAR+++++++++++++++++++++++++++++++++++++
//+++++++++++++++++++++++++++++++++++++++++++++++++++


//---------------------------------------------------
//MAIN CONTENT --------------------------------------
//---------------------------------------------------

#inventory {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    min-width: 100%;
}
.nov-container{
 //  box-shadow: -10px -20px 10px rgba(0, 0, 0, 0.1);
    background-color: $nov-cinepilot-container-green;
    flex: 8.5;
    float: left;

    overflow: hidden;
    & .row {
        margin: 10px;
    }
    & .is-collapsed {
        transition: all .1s ease-out;
        flex: auto;
     
    }
    .breadcrumb {
        font-size: 8pt;
        margin: 5px;
        background: none;
     }

}



body{
    height: 100vmin;
}

//---------------------------------------------------
//FOOTER  -------------------------------------------
//---------------------------------------------------
.nov-footer{
 //  box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.2);
    background-color:$nov-cinepilot-footer-green;
    height: 40px;
    bottom: 0;
    position: fixed;
    margin: 0;
    width: 100%;

    .nov-footer-container{

        padding : 10px 300px 0 0;
        float: right;

        cursor: pointer;
        & a {
            text-decoration: none;
            color: grey;
            &:hover{
                color: whitesmoke;
            }
        }
        & .footer-collapsed{
            background-color: red;
        }

    }
}

//++++++++++++++++++++++++++++++++++++++++++++++++++
//END OF FOOTER+++++++++++++++++++++++++++++++++++++
//++++++++++++++++++++++++++++++++++++++++++++++++++






//---------------------------------------------------
//PANEL  -------------------------------------------
//---------------------------------------------------
.nov-panel{
    box-shadow: 5px -5px 0px $nov-cinepilot-main-green;
}

//++++++++++++++++++++++++++++++++++++++++++++++++++
//END OF PANEL+++++++++++++++++++++++++++++++++++++
//++++++++++++++++++++++++++++++++++++++++++++++++++
body::-webkit-scrollbar {
    width: 2em;
}
 
body::-webkit-scrollbar-track {
    background-color: rgb(56, 56, 56);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgb(80, 96, 172);
  outline: 1px solid rgb(56, 135, 214);
  animation: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-animation: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

body { padding-right: 0 !important }


//---------------------------------------------------
//PANEL  -------------------------------------------
//---------------------------------------------------

.nov-modal-content-show {
    background-color: $nov-cinepilot-main-green;
    color: whitesmoke;
}


@media (min-width: 1200px) {
    .modal-dialog {
      width: 1200px;
      margin: 30px auto;
    }
}
//++++++++++++++++++++++++++++++++++++++++++++++++++
//END OF PANEL+++++++++++++++++++++++++++++++++++++
//++++++++++++++++++++++++++++++++++++++++++++++++++

#inventory{
    position: relative; 
    overflow: hidden;
}